:root {
    --text-color: #d3cfcf;
    --background-color:#383838;
    --header-bottom-color: #d3cfcf;
    --link-color: #F89554;
    --link-text-color: #b0b7c5;
    --link-hover-color: #5E401E;
    --entry-background-color: #1b1b1b;
    --entry-border-color: #458588;
    --entry-date-color: #ebdbb2;
}

/* BODY AND LINKS */
body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    background-color: var(--background-color);
    font-size: 16pt;
    color: var(--text-color);
}

a:link, a:visited, a:active {
    text-decoration: underline var(--link-color);
    color: var(--link-text-color);
}

a:hover {
    background-color: var(--link-hover-color);
}

.entry {
    align-self: center;
    max-width: 900px;
    padding: 10px;
    border-radius: 0 5px 18px 0;
    margin-bottom: 50px;
    background: var(--entry-background-color);
    border: 1px solid var(--entry-border-color);
    border-left: 10px solid var(--entry-border-color);
}

.entry h2 {
    margin: 5px auto 2px auto;
}

.entry small {
    color: var(--entry-date-color);
}

footer strong {
    font-weight: bold;
}

dt {
    font-weight: bold;
    margin-top: 2em;
}

dt img {
    height: 1em;
}

/* FLEX BIGGER SCREENS */
.container {
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-flow: row;
    flex-direction: row;
}

.column {
    display: flex;
    flex-flow: column;
    flex-direction: column;
}

/* BUILDING BLOCKS */
.col-1 {
    flex-grow: 1;
}

.col-2 {
    flex-grow: 2;
}

.col-3 {
    flex-grow: 3;
}

.col-4 {
    flex-grow: 4;
}

.col-5 {
    flex-grow: 5;
}

.col-6 {
    flex-grow: 6;
}

.col-7 {
    flex-grow: 7;
}

.col-8 {
    flex-grow: 8;
}

.col-9 {
    flex-grow: 9;
}

.col-10 {
    flex-grow: 10;
}

.col-11 {
    flex-grow: 11;
}

.col-12 {
    flex-grow: 12;
}

/* HEADER */
header {
    border-bottom: 1px solid var(--header-bottom-color);
    padding: 10px 10px 20px;
    margin-bottom: 20px;
}

/* TEXT */
p {
    margin: 1%;
}

li {
    padding: 5px;
}

/* FLEX SMALLER SCREENS */
@media (max-width: 767.98px) {
    .container {
        width: 100%;
    }

    .row {
        flex-flow: column;
        flex-direction: column;
    }

    .content {
        width: 100%;
    }

    .column {
        margin: 10px;
        width: 90%;
    }

}

/* FLEX MEDIUM SCREENS */
@media (min-width: 768px) and (max-width: 1100px) {
    .container {
        width: 95%;
    }

    .row {
        flex-flow: column;
        flex-direction: column;
    }

    .content {
        width: 100%;
        margin: 0;
    }

    .column {
        margin: 20px;
        width: 90%;
    }
}