:root {
  --primary-color: #C04F17;
  --secondary-color: #009B55;
  --gray-accent: #B3B3B3;
  --gray-accent-light: #ddd;
  --off-white: #eee;
  --off-white-light: #f9f9f9;
  --dark-gray: #666;
}

body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
}

.menu {
  padding: 0;
}

.menu li {
  display: inline-block;
}

.article-meta,
.menu a {
  text-decoration: none;
  background: var(--off-white);
  border-bottom-color: var(--secondary-color);
  border-bottom-style: dotted;
  padding: 5px;
  margin-right: 1em;
}

.menu a:hover {
  text-decoration: underline;
}


.menu,
.article-meta,
footer {
  text-align: center;

}

.article-meta h2 {
  border: none;
}

.article-meta .author {
  text-decoration: none;
}

.article-meta .date {
  text-decoration: none;
  font-weight: 100;
}

.title {
  font-size: 1.1em;
}

footer a {
  text-decoration: none;
}

hr {
  border-style: dashed;
  color: var(--gray-accent-light);
}

/* code */
pre {
  border: 1px solid var(--gray-accent);
  box-shadow: 5px 5px 5px var(--off-white);
  padding: 1em;
  overflow-x: auto;
}

code {
  background: var(--off-white-light);
}

pre code {
  background: none;
}

img,
iframe,
video {
  max-width: 100%;
}

.right {
  float: right;
  max-width: 40%;
  margin-left: 20px;
}

.left {
  float: left;
  max-width: 40%;
  margin-right: 20px;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

body {
  hyphens: auto;
  padding-bottom: 20em;
}

main p {
  text-align: justify;
}

blockquote {
  background: var(--off-white-light);
  padding: 3px 1em 3px;
}

blockquote:nth-child(even) {
  border-left: 3px dotted var(--primary-color);
}

blockquote:nth-child(odd) {
  border-left: 3px dotted var(--secondary-color);
}

table {
  margin: auto;
  border-top: 1px solid var(--dark-gray);
  border-bottom: 1px solid var(--dark-gray);
}

table thead th {
  border-bottom: 1px solid var(--off-white);
}

th,
td {
  padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
  background: var(--off-white);
}


a {
  color: black;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

a:focus,
a:hover {
  text-decoration-color: var(--secondary-color);
}

h2,
h3,
h4,
h5,
h6 {
  border-bottom: 2px solid var(--secondary-color);
}

.book-list,
ul ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 1em;
}

.book-list {
  padding: 0em;
}

.review {
  background-color: var(--off-white-light);
  border-left: 2px solid var(--primary-color);
  font-style: italic;
  padding: 0.5em;
  margin-left: 1em;
}

.pub-list ul {
  padding: 0;
  line-height: 1.5em;
}