{{ partial "header.html" . }}
<div class="page-shell">
    <div class="page-main">
        <div class="article-head">
            <h1><span class="title">{{ .Title | markdownify }}</span></h1>
            {{ $author := .Param "author" }}
            {{ if or $author .Date }}
            <h4>
                {{ $author }}{{ if and $author .Date }} - {{ end }}{{ with .Date }}{{ . | time.Format
                ":date_medium" }}{{ end }}
            </h4>
            {{ end }}
        </div>

        <main class="content-page content-{{ .File.BaseFileName }}">{{ .Content }}</main>
    </div>
</div>

{{ partial "footer.html" . }}
