<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel="shortcut icon" type="image/svg+xml" href="{{ "img/favicon.svg" | relURL }}"/>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
  {{ partial "head_custom.html" . }}
</head>

<body>
  <nav>
    <ul class="menu">
      {{ range $index, $element := .Site.Menus.main }}
      <li>
        <a href="{{ .URL | relURL }}">
          {{ if eq $element.Params.external true }}
          {{ readFile "static/img/external.svg" | safeHTML }}
          {{ end }}
          {{ .Name }}
        </a>
      </li>
      
      {{ end }}
    </ul>
    <hr />
  </nav>